.App {
  text-align: center;
}

.calculator-frame {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  display: inline-block; 
  max-width: 300px;
}

.calculator {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #d8d2d2;
  cursor: pointer;
}

button:hover {
  background-color: #a7a3a3;
}